
<section class="addPost container-fluid">
    <div class="row d-flex justify-content-center">
        <a href="/api/blogs" class="postButton col-11 col-sm-4 col-lg-3 btn btn-secondary">
            + Add Post
        </a>
    </div>
</section>

<section class="posts container-fluid">
    <div class="row d-flex justify-content-center">






         {{#each newBlogData as | blogData|}}

         <!-- Above, is how to loop in handlebars -->

        <div class="postCards col-11 col-sm-5 d-flex justify-content-center card">
            <div class="card-body">
                <h5 class="card-title">{{blogData.topic}}</h5>

                <p class="card-text cardT">
                   {{blogData.description}}
                </p>
                <h6> Created by: {{blogData.user.user_name }} </h6>

               
                <a href="/api/comments/{{blogData.id}}" class="cardLink card-link">Comment</a>
                 

                <a href="/api/blogs/{{blogData.id}}" class="cardLink card-link">View </a>

            </div>
        </div>

        {{/each}}







       
    </div>
</section>