
<section class="posts container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="postCards col-11 col-sm-11 d-flex justify-content-center card">
            <div class="card-body">
                <h5 class="card-title">{{newblogData.topic}}</h5>

                <p class="card-text">
                   {{newblogData.description}}
                </p>

                <h6> Created by: {{newblogData.user.user_name}}  </h6>
                <a href="/api/comments/{{newblogData.id}}" class="cardLink card-link">Comment</a>
                
            </div>
        </div>



        {{#each newblogData.comments as | comment|}}
        <div class="postCards col-11 col-sm-5 d-flex justify-content-center card">
            <div class="card-body">
                <h5 class="card-title"> Comment by: {{comment.user.user_name}} </h5>

                <p class="card-text">
                   {{comment.comment}}
                </p>

                <a href="/" class="cardLink card-link">Delete</a>

                
            </div>
        </div>
        {{/each}}



       



       
    </div>
</section>